:root {
    --Burnt-Umber: #8E2424;
    --Pale-Sky: #667085;
    --Ebony: #101828;
    --Thunderbird: #C31919;
    --white: #ffffff;

}

* {
    font-family: 'Inter' , 'sans-serif';
}

body {
    font-family: 'Inter';
}

nav {
    width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 32px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 148px;
    height: 32px;
}

.paginas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 362px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
}


.paginas a {
    text-decoration: none;
    color: var(--Pale-Sky);
}

.paginas li :hover{
    color: var(--Burnt-Umber);
}

.botoes {
    display: flex;    
    align-items: center;
    gap: 12px;
    width: 207px;
    height: 44px;   
}

.botoes button {
    background: none;
    border: none;
    color: var(--Pale-Sky);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#botao-cadastrar {
    background-color: var(--Burnt-Umber);
    color: var(--white);
    border-radius: 8px;
    padding: 10px 18px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 24px;
}

.sobretitulo {
    font-size: 16px;
    font-weight: 600;
    color: var(--Burnt-Umber);
}

.titulo {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 60px;
    color: var(--Ebony);
    padding: 0 32px;
}

.sobre-descricao {
    text-align: center;
    color: var(--Pale-Sky);
    width: 792px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 12px;
}

.infos-empresa {
    display: flex;
    justify-content: center;
    padding-bottom: 96px ;    
}

.infos-lista{
    width: 1280px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 32px;
    gap: 32px;    
}

.infos-lista li{
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 20px;
    text-align: left;
}

.info-numero {
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1px;
    color: var(--Burnt-Umber);
}

.subtitulo {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    color: var(--Ebony);
}

.info-descricao {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Pale-Sky); 
}

.vagas-secao {
    padding: 96px 0;
}

.vagas-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas-chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
}

.vagas-sobretitulo {
    color: var(--Burnt-Umber);
    background-color: rgb(142, 36, 36, 0.05) ;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 16px;
}

.vagas-titulo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--Ebony);
    margin-bottom: 20px;
}

.vagas-descricao {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: var(--Pale-Sky);
}

.vagas-img {
    width: 1216px;
    height: 400px;
    padding: 64px 0;
}


.vagas-lista-titulo{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
}

.informacoes-cargo{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px; 
}

.cargos-tipo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
}

.cargos-tipo-titulo {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 8px;
    color: var(--Ebony);
}

.cargos-descricao {
    display: flex;
    flex-direction: column;
    width: 768px;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px 24px 24px 28px;
    gap: 32px;
}

.cargos-descricao-titulo {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: var(--Ebony); 
}

.cargos-descricao-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 24px;
    color: var(--Pale-Sky);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.feedbacks {
    padding-bottom: 96px;
}

.feedbacks-conteudo {
    width: 1280px;
    margin: 0 auto;  
}

.feedbacks-conteudo-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 36, 36, 0.05);
    padding: 64px;
    gap: 32px;
}

.feedbacks-conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.feedbacks-conteudo-pessoas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.feedbacks-conteudo-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.feedbacks-conteudo-sobretitulo {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: var(--Burnt-Umber);   
}

.feedbacks-conteudo-titulo {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1%;
    text-align: center;
    color: var(--Ebony);
}

.feedbacks-conteudo-nome {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--Ebony);
}


.feedbacks-conteudo-cargo {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--Pale-Sky);   
}

.oportunidades-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 32px;
}

.oportunidades-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.oportunidades-conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.oportunidades-conteudo-titulo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -1px;
    color: var(--Ebony);
}

.oportunidades-conteudo-subtitulo {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--Pale-Sky); 
}

.oportunidades-cadastrar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.oportunidades-cadastrar-label {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    padding: 12px 14px 12px 16px;
}

.oportunidades-cadastrar-input {
    width: 330px;
    height: 24px;
    border: none;
    
}

::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: var(--Pale-Sky);
}

#oportunidades-cadastrar-botao {
    border: 1px solid var(--Burnt-Umber);
    border-radius: 8px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: var(--white);
    background-color: var(--Burnt-Umber);
}

.texto-copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #98A2B3;
    
}